body{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin: 0%;
}
section{
    display: flex;
    margin-bottom: 5px;
    padding-top: 65px;
    padding-bottom: 65px;
}
.half-width{
    width: 200%;
    padding: 0% 5% 0% 5%;
}
.button01{
    background-color: coral;
    height: 4%;
    width: 22%;
    font-size: 16px;
    color: floralwhite;
    border: dimgray;
    border-radius: 8px;
}
.button02{
    background-color: coral;
    height: 5%;
    width: 30%;
    font-size: 16px;
    color: floralwhite;
    border: dimgray;
    border-radius: 8px;
}

h1{
    font-size: 50px;
}
.orange-color{
    color: coral;
}
.section-01{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-color: rgb(255, 251, 233);
    
}
.section-02{
    
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-color: rgb(228, 255, 255);
}